
/* OVERALL LAYOUT */

body {
    background: #ffffff;
    color: #111111;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    line-height: 1.32em;
    width: 100vw;
    overflow-x: hidden;
	text-size-adjust: none;
}

section {
    padding: 2.4em 1.60em;
}

p {
	font-size: 1em;
}

#header, #intro {
	max-width: 60em;
	margin: 0 auto;
	text-align: center;
}

section.content {
    margin: 0;
    background: #f1f1f1;
}

section.content:last-child {
    padding-bottom: 3.2em;
	background: #e5e5e5;
}

.content-projects {
	text-align: center;
}

.project-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 auto;
	width: 1290px;
}

@media all and (max-width: 768px) {

    div#maincontainer {
        padding: 0px;
        border: none;
    }
}

@media all and (max-width: 1300px) {
	
	.project-container {
		width: 1032px;
	}
}

@media all and (max-width: 1132px) {
	
	.project-container {
		width: 774px;
	}
}

@media all and (max-width: 874px) {
	
	.project-container {
		width: 516px;
	}
}

@media (orientation: portrait) {
  body {
	  font-size: 1.5em;
  }
  .modal-control, .project-header, .modal-pagenum {
	  height: 3em !important;
	  line-height: 3em !important;
  }
  .modal-control {
	  width: 4em !important;
  }
}


/* FONTS AND COLOURS */

h1, h2, h3, h4, h5 {
    color: #395580;
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.25em; }

#intro h1 {
	margin-top: 0.5em;
}

.content-projects h2, .content-projects h3 {
	margin-top: 0;
}

a:link {color:#E34530;}

a:visited {
    color: #E34530; 
    text-decoration: line-through;
}

a:hover {
    color: #F56935;
    text-decoration: none;
}

a:active {color:#F56935;}

ul {
    margin-left: 0px;
    margin-top: 0.4em;
    margin-right:0.4em;
    margin-bottom: 0.8em;
    margin-left: 1.6em;
    padding: 0px;
}

ul.project-links li:before {
    content: "\00BB \0020";
}

ul ul li:before {
    content: "";
}


/* PROJECT TILES */

.project-tile {
	background: #0001;
	margin: 4px;
	width: 250px;
	height: 250px;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}

.project-tile:hover {
	border-color: transparent;
}

.project-tile img.project-tile-img {
	width: 250px;
	height: 250px;
	z-index: 1;
	transition: all 0.25s;
}

.project-tile:hover img.project-tile-img {
	transform: scale(1.05);
	filter: grayscale(25%);
}

.project-tile div {
	opacity: 0;
	transition: all 0.25s;
}

.project-tile:hover div {
	opacity: 1;
}

.project-tile .project-summary {	
	background: rgb(50,50,50);
	background: rgba(50,50,50, 0.9);
	position: absolute;
	bottom: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.project-tile .project-summary-container {
	position: absolute;
	text-align: left;
	color: white;
	bottom: 0;
	padding: 1em;
}

.project-tile .project-summary-container > span {
	display: block;
	margin: 2px 0;
}

.name {
    word-spacing: -2px;
	font-weight: bold; 
	font-size: 14px
}

.years {
}

.project-tile .tags {
	font-size: 11px;
}

.animate-from-bottom {
	animation-name: animatebottom;
	animation-duration: 0.25s;
}

@keyframes animatebottom {
  from { bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}


/* PROJECT DETAILS SCREEN */

.modal-window {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
    background: #f3f3f3;
	padding: 0;
}

.modal-content {
	margin: 1em auto;
	max-width: 70em;
}

.modal-content h3 {
    margin: 0 0 0.6em 0;
}

.project-header {
	margin: 0em 4.5em;
	height: 1.5em;
	position: relative;
	padding-bottom: 2px;
}

.project-details {
    padding: 8px;
	margin: 0em 4.5em;
	background: white;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(153,153,153,1);
	-moz-box-shadow: 0px 1px 3px 0px rgba(153,153,153,1);
	box-shadow: 0px 1px 3px 0px rgba(153,153,153,1);
}

.project-details-text {
    padding: 1.60em;
	max-width: 60em;
	margin: 0 auto;
}

.modal-control {
	display: inline-block;
    vertical-align: middle;
    background: #fffa;
    width: 3em;
	height: 1.5em;
    text-align: center;
}

.modal-control img {
	height: 60%;
    opacity: 0.8;
    vertical-align: middle;
    margin: 0.25em auto;
}

.modal-control:hover,
.modal-control:focus {
	cursor: pointer;
    background: #fff;
}
.modal-control:hover img,
.modal-control:focus img {
	opacity: 1;
	transform: scale(1.05);
}

.modal-close {
    position: absolute;
	right: 0;
	clip-path: polygon(11% 0, 89% 0, 100% 100%, 0% 100%);
}

.modal-previous {
	clip-path: polygon(11% 0, 100% 0, 100% 100%, 0% 100%);
}

.modal-next {
	clip-path: polygon(0% 0, 89% 0, 100% 100%, 0% 100%);;
}

.modal-pagenum {
	width: 6em;
	height: 1.5em;
	line-height: 1.5em;
	display: inline-block;
    vertical-align: middle;
	text-align: center;
	background: white;
}

.project-attributes {
	margin: 0.5em 0;
}

.project-attributes p {
	line-height: 1.25em;
	margin: 0;
}

span.attribute-label {
	font-weight: bold;
    min-width: 7em;
	display: inline-block;
}

.project-images img:hover {
	opacity: 0.95;
}


/* PROJECT IMAGES CAROUSEL */

.carousel-container {
	margin: 0 auto 25px 0;
	background: #eee;
	height: 320px;
	max-width: 1200px;
}

.carousel-container div {
	height: 100%;
    text-align: center;
    overflow: hidden;
	padding: 0;
	min-width: 150px;
}

.carousel-container img {
	height: 100%;
	margin: 0 auto;
}

.slick-slide {
	opacity: 0.9;
	transition: opacity 0.2s;
	background: black;	
	border: white solid;
	border-width: 0 2px;
}

.slick-active {
	opacity: 1;
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -24px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 8pt;
    height: 12pt;
    margin: 0 4px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 6pt;
    height: 6pt;
    padding: 2pt;
    cursor: pointer;
    color: transparent;
    border: 0;
	border-radius: 4pt;
    outline: none;
    background: #818181db;
}
.slick-dots li button:hover {
    background: #81818199;
}
.slick-dots li button:focus, .slick-dots .slick-active button {
    background: #414181db;
}
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    display: block;
    width: 20px;
    height: 100%;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #ffffff33;
    background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
	z-index: 2;
	opacity: 0;
	transition: all 0.2s;
}
.carousel-container:hover .slick-prev, .carousel-container:hover .slick-next {
	opacity: 1;
}

.slick-prev
{
    background-image: url(../icons/icon-left.svg);
    left: 0;
}
.slick-next
{
    background-image: url(../icons/icon-right.svg);
    right: 0;
}


/* DETAILS */

ul.project-links {
    cursor: auto;
    list-style: none;
    margin-left: 0;
    color: inherit;
}

span.tag {
    border-radius: 0.5em;
    padding: 0.1em 0.5em;
    margin: 2px 0px;
    background: #818181db;
	color: white;
	font-weight: normal;
    display: inline-block;
}

span.tag.tag-plain {
	color: inherit;
    background: #ffffff88;
}

ul.project-links {
    display: inline-block;
}

ul.project-links li {
    margin: 0 1em 0 0;
}

.link-icons {
	margin: -0.5em 0 0 0;
}

.link-icons a {
    margin: 0px 1px;
}

.link-icons img {
	height: 1.25rem;
    vertical-align: middle;
    margin-right: 3px;
}

.link-icons a:hover img {
	opacity: 0.7;
}

.article-title {
	font-style: italic;
}

.outdated {
    text-decoration: line-through;
}

img.icon {
	width: 20px;
}
